@charset "UTF-8";

/**
 * SETTINGS
 * File-header..........The file header for the themes style.css file.
 * Fonts................Any font files, if the project needs specific fonts.
 * Global...............Project-specific, globally available variables.
 *
 * TOOLS
 * Functions............Global functions.
 * Mixins...............Global mixins.
 *
 * GENERIC
 * Normalize.css........Normalise browser defaults.
 * Breakpoints..........Mixins and variables for responsive styles
 * Vertical-margins.....Vertical spacing for the main components.
 * Reset................Reset specific elements to make them easier to style in other contexts.
 * Clearings............Clearings for the main components.
 *
 * ELEMENTS
 * Blockquote...........Default blockquote.
 * Forms................Element-level form styling.
 * Headings.............H1–H6
 * Links................Default links.
 * Lists................Default lists.
 * Media................Images, Figure, Figcaption, Embed, iFrame, Objects, Video.
 *
 * BLOCKS
 * Audio................Specific styles for the audio block.
 * Button...............Specific styles for the button block.
 * Code.................Specific styles for the code block.
 * Columns..............Specific styles for the columns block.
 * Cover................Specific styles for the cover block.
 * File.................Specific styles for the file block.
 * Gallery..............Specific styles for the gallery block.
 * Group................Specific styles for the group block.
 * Heading..............Specific styles for the heading block.
 * Image................Specific styles for the image block.
 * Latest comments......Specific styles for the latest comments block.
 * Latest posts.........Specific styles for the latest posts block.
 * Legacy...............Specific styles for the legacy gallery.
 * List.................Specific styles for the list block.
 * Media text...........Specific styles for the media and text block.
 * Navigation...........Specific styles for the navigation block.
 * Paragraph............Specific styles for the paragraph block.
 * Pullquote............Specific styles for the pullquote block.
 * Quote................Specific styles for the quote block.
 * Search...............Specific styles for the search block.
 * Separator............Specific styles for the separator block.
 * Spacer...............Specific styles for the spacer block.
 * Table................Specific styles for the table block.
 * Verse................Specific styles for the verse block.
 * Video................Specific styles for the video block.
 * Utilities............Block alignments.
 *
 * COMPONENTS
 * Header...............Header styles.
 * Footer...............Footer styles.
 * Comments.............Comment styles.
 * Archives.............Archive styles.
 * 404..................404 styles.
 * Search...............Search styles.
 * Navigation...........Navigation styles.
 * Footer Navigation....Footer Navigation styles.
 * Pagination...........Pagination styles.
 * Single...............Single page and post styles.
 * Posts and pages......Misc, sticky post styles.
 * Entry................Entry, author biography.
 * Widget...............Widget styles.
 * Editor...............Editor styles.
 *
 * UTILITIES
 * A11y.................Screen reader text, prefers reduced motion etc.
 * Color Palette........Classes for the color palette colors.
 * Editor Font Sizes....Editor Font Sizes.
 * Measure..............The width of a line of text, in characters.
 */

/* Categories 01 to 03 are the basics. */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

p {
	margin-bottom: inherit !important;
}

dl,
ol,
ul {
	margin-bottom: inherit !important;
}

a:hover {
	color: inherit !important;
	text-decoration: none !important;
}

/**************
end reset
***************/

/**************
end var
***************/

/**************
end mixin
***************/

/**************
end mixin
***************/

/**************
end var
***************/

/* /////////// */

/* ###【wpadminbarの位置調整】 */

/* /////////// */
html {
	margin: 0 0 32px !important;
}

#wpadminbar {
	top: unset !important;
	bottom: 0;
}

/* /////////// */

/* ###【wpadminbarの位置調整】 */

/* /////////// */

/* /////////// */

/* ###【common】 */

/* /////////// */

/* /////////// */

/* ###【position】 */

/* /////////// */
.flexWrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.inner {
	margin: 0 auto;
	width: 87.037037%;
	max-width: 1200px;
}
@media screen and (min-width: 781px ) and (max-width: 1040px ) {

	.inner {
		width: 100%;
	}
}
@media screen and (min-width: 431px ) and (max-width: 780px ) {

	.inner {
		width: 96%;
	}
}
@media screen and (min-width: 401px ) and (max-width: 430px ) {

	.inner {
		width: 85%;
	}
}
@media screen and (max-width: 400px ) {

	.inner {
		width: 85%;
	}
}

.innerLg {
	margin: 0 auto;
	width: 100%;
}

.innerLg_sp {
	margin: 0 auto;
	width: 87.037037%;
	max-width: 1200px;
}
@media screen and (min-width: 401px ) and (max-width: 430px ) {

	.innerLg_sp {
		margin: 0 auto;
		width: 100%;
	}
}
@media screen and (max-width: 400px ) {

	.innerLg_sp {
		margin: 0 auto;
		width: 100%;
	}
}

.content-center {
	margin: 0 auto;
}

.sectionPadding {
	padding: 80px 0;
}
@media screen and (min-width: 401px ) and (max-width: 430px ) {

	.sectionPadding {
		padding: 60px 0;
	}
}
@media screen and (max-width: 400px ) {

	.sectionPadding {
		padding: 60px 0;
	}
}

.modifyLinkPosition {
	padding-top: 80px;
	margin-top: 80px;
}
@media screen and (min-width: 401px ) and (max-width: 430px ) {

	.modifyLinkPosition {
		padding-top: 60px;
		margin-top: 60px;
	}
}
@media screen and (max-width: 400px ) {

	.modifyLinkPosition {
		padding-top: 60px;
		margin-top: 60px;
	}
}

.headingWrapper {
	margin-bottom: 60px;
	border-bottom: 1px solid;
}
@media screen and (min-width: 401px ) and (max-width: 430px ) {

	.headingWrapper {
		margin-bottom: 27px;
	}
}
@media screen and (max-width: 400px ) {

	.headingWrapper {
		margin-bottom: 27px;
	}
}

/* 【color】 */
.colorfff {
	color: #fff;
}

.color000 {
	color: #000;
}

.colorWhite {
	color: #fff;
}

.colorBlack {
	color: #000;
}

.colorPrimary {
	color: #8d6f46;
}

/* 【font_size】 */
.sectionHeading {
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.2;
}
@media screen and (min-width: 401px ) and (max-width: 430px ) {

	.sectionHeading {
		font-size: 22px;
	}
}
@media screen and (max-width: 400px ) {

	.sectionHeading {
		font-size: 22px;
	}
}

.subHeading {
	font-size: 30px;
	letter-spacing: normal;
	line-height: 1.2;
}

.descriptionXs {
	font-size: 12px;
	letter-spacing: normal;
	line-height: 1.2;
}

.descriptionSm {
	font-size: 14px;
	letter-spacing: normal;
	line-height: 1.2;
}

.descriptionMd {
	font-size: 18px;
	letter-spacing: normal;
	line-height: 1.2;
}

.descriptionLg {
	font-size: 20px;
	letter-spacing: normal;
	line-height: 1.2;
}

.descriptionXl {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.2;
}

.hrColorMain {
	background-color: #8d6f46;
	height: 1px;
	padding: 0;
	margin: 0;
}

/* /////////// */

/* End【common】 */

/* /////////// */

/* /////////// */

/* ###【header】 */

/* /////////// */
.test {
	width: 100%;
	height: 100px;
}

.header {
	margin-top: 28px;
}

.nav_flex {
	justify-content: space-between;
}

.site_name {
	margin-bottom: 20px !important;
	color: #6e6e6e;
}

.site_logo p img {
	width: 380px;
	transition: all 0.3s ease;
}

.site_logo p img:hover {
	opacity: 0.7;
}

.contactButtonsWrapper {
	display: flex;
	justify-content: end;
	margin-bottom: 20px;
}

.sns_buttons {
	margin-left: 20px;
}

.instagramButton {
	margin-left: 10px;
	transition: all 0.3s ease;
}

.instagramButton:hover {
	opacity: 0.7;
}

.instagramButton img {
	width: 45px;
}

.facebookButton {
	transition: all 0.3s ease;
}

.facebookButton:hover {
	opacity: 0.7;
}

.facebookButton img {
	width: 45px;
}

.accessButton {
	display: flex;
	align-items: center;
	text-decoration: none;
	text-align: center;
	padding: 25px 13px;
	height: 45px;
	background: linear-gradient(to bottom, #c8b083 0%, #c8b083 29%, #c8b083 29%, #8d6f46 100%);
	margin-left: 10px;
	transition: all 0.3s ease;
}

.accessButton:hover {
	opacity: 0.7;
}

.accessButton img {
	width: 18px;
	margin-left: 5px;
	display: inline;
}

.reservationButton {
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;
	padding: 25px 13px;
	height: 45px;
	background: linear-gradient(to bottom, #c8b083 0%, #c8b083 29%, #c8b083 29%, #8d6f46 100%);
	transition: all 0.3s ease;
}

.reservationButton:hover {
	opacity: 0.7;
}

.reservationButton p {
	display: flex;
	align-items: center;
	text-align: center;
}

.reservationButton p img {
	margin-right: 8px;
	display: inline;
	width: 18px;
}

.nav_item {
	border-top: solid 2px #d2d2d2;
	border-bottom: solid 2px #d2d2d2;
	padding: 6px;
	margin-left: 10px;
	min-width: 90px;
	transition: all 0.3s ease;
}

.nav_item:hover {
	border-top: solid 2px #8d6f46;
	border-bottom: solid 2px #8d6f46;
}

.nav_item a {
	text-decoration: none;
	color: #8d6f46;
}

.nav_item a:hover {
	text-decoration: none;
	color: #8d6f46 !important;
}

.nav_item p {
	font-size: 12px;
	margin-bottom: 4px !important;
}

.nav_item .descriptionXs {
	font-size: 10px;
}

.nav_item:last-child {
	margin-left: 0;
}

/* /////////// */

/* End【header】 */

/* /////////// */
